*.o
*.bin
*.la
*.lo
*.a

src/jansson-2.14/jansson.pc
src/jansson-2.14/jansson_private_config.h
src/jansson-2.14/src/jansson_config.h
src/notifier
src/sha256_code_release/sha256_avx2_rorx2.A


autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
compile
config.log
config.status
config.guess
config.sub

*~

ext_deps
config.h.in
config.h

mkinstalldirs

*.swp
src/ckpool
src/ckpmsg
ltmain.sh

*.m4

.libs/

libtool


