*.o
*.bin
*.la
*.lo

autom4te.cache
.deps

Makefile
Makefile.in
INSTALL
aclocal.m4
configure
depcomp
missing
install-sh
stamp-h1
compile
config.log
config.status
config.guess
config.sub

*~
logs/*
solobtc/*

ext_deps
config.h.in
config.h

mkinstalldirs

*.swp
src/ckpool
src/ckpmsg
ltmain.sh

*.m4

.libs/

libtool

test-driver
src/jansson-2.14/jansson_private_config.h.in
src/jansson-2.14/test-driver
*.a
src/notifier
src/sha256_code_release/*.A
confdefs.h
conftest.c
conftest
test/sha256
test/*.log
test/*.trs
test/test-suite.log
.dirstamp
