[Unit]
After=network.target
Description=Parasaur
StartLimitBurst=120
StartLimitIntervalSec=10m

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/para \
  --data-dir /var/lib/para \
  --log-dir /var/lib/ckpool/logs \
  server \
  --acme-contact mailto:infra@parasite.dev \
  --acme-domain alpha.parasite.dev
Group=ckpool
LimitNOFILE=65536
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
Restart=on-failure
RestartSec=5s
StateDirectory=para
StateDirectoryMode=0700
TimeoutStopSec=10m
Type=simple
User=ckpool
WorkingDirectory=/var/lib/para

[Install]
WantedBy=multi-user.target
