Health Check<br>
<br>
Disk Usage: {{self.checks[0].disk_usage_percent}}%<br>
Memory Usage: {{self.checks[0].memory_usage_percent}}%<br>
CPU Usage: {{self.checks[0].cpu_usage_percent}}%<br>
Uptime: {{self.checks[0].uptime}}
<br>
Disk Usage: {{self.checks[1].disk_usage_percent}}%<br>
Memory Usage: {{self.checks[1].memory_usage_percent}}%<br>
CPU Usage: {{self.checks[1].cpu_usage_percent}}%<br>
Uptime: {{self.checks[1].uptime}}
<br>
Disk Usage: {{self.checks[2].disk_usage_percent}}%<br>
Memory Usage: {{self.checks[2].memory_usage_percent}}%<br>
CPU Usage: {{self.checks[2].cpu_usage_percent}}%<br>
Uptime: {{self.checks[2].uptime}}
