<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width,initial-scale=1.0'>
    <meta property=og:title content='{{ self.content.title() }}'>
    <meta property=og:image content='{{ self.og_image() }}'>
    <meta property=twitter:card content=summary>
    <title>{{ self.content.title() }}</title>
    <link rel=icon href=/static/parasite.svg type=image/x-icon size=16x16>
    <link rel=stylesheet href=/static/index.css>
    <link rel=stylesheet href=/static/modern-normalize.css>
  </head>
  <body>
$$ Trusted(&self.content)
  </body>
</html>
